{% extends "core/bases/base.html" %}

{% block content %}
<a href="javascript:history.back()" class="btn btn-outline-secondary mb-3">← Back</a>
<div class="dashboard-header">
    <h2 class="dashboard-title">Delete Item</h2>
</div>

<div class="dashboard-card">
    <div class="dashboard-card-body">
        <p>¿You probably want to delete this item?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'sales:order_detail' object.order.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
