{% extends "bases/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="btn btn-outline-secondary mb-3">← Back</a>
<div class="module-container">
    <h2>{{ title }}</h2>

    <form method="post" class="module-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{% url 'products:list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}