{% extends "core/bases/base.html" %}

{% block content %}
<h1>Journal Entry {{ entry.pk }}</h1>
<p>Date: {{ entry.date }}</p>
<p>Description: {{ entry.description }}</p>

<h3>Lines</h3>
<table class="table">
    <tr>
        <th>Account</th>
        <th>Debit</th>
        <th>Credit</th>
    </tr>
    {% for line in entry.lines.all %}
    <tr>
        <td>{{ line.account }}</td>
        <td>{{ line.debit }}</td>
        <td>{{ line.credit }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
